# Database 

DB_TYPE=postgres
DB_NAME=pos_db
DB_HOST=localhost
DB_PORT=5432
DB_USER=pos_user
DB_PASS=strongpassword
DB_SYNC=false


# Server
PORT=5000

#Jwt
JWT_SECRET="AVerySecretKey"
JWT_EXPIRATION_TIME="2 days"